@model IEnumerable<BendyCrypto.Identity>
@{
	ViewBag.Title = "Home Page";
}

<h1>Voting demonstration</h1>
<h2>
	The first step is selecting your ID.
</h2>
<p> 
	The real life analoug to this would be going to the voting place and identifying yourself to the voting authority. <!--TODO: add how this might be done in actual cryptographic implementation-->
</p>

<h3>Please select your name:</h3>


<div class="list-group">
	@foreach (var ident in Model) {
		<a class="nameSelect list-group-item @(ident.Used ? "disabled" : "")" href="@Url.Action("CryptoVote")/@ident.Key">@ident.Key</a>
	}
</div>

<div hidden="hidden">Hello world</div>

@section scripts
{
	<script type="text/javascript">

	</script>
}
