@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Voting demonstration (Step 1)</h1>
</div>
<h2>
	The first step is selecting your ID.
</h2>
<p> 
	The real life analoug to this would be going to the voting place and identifying yourself to the voting authority. <!--TODO: add how this might be done in actual cryptographic implementation-->
</p>

<h3>Please select your name:</h3>

<div class="list-group">
	@foreach (string ID in Global.IDs) {
		<a class=" list-group-item" >@ID</a>
	}
</div>
